<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<!-- Строка подключения для SQL Server -->
		<add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS;Database=test_db;Trusted_Connection=True;" providerName="Microsoft.EntityFrameworkCore.SqlServer" />
	</connectionStrings>
</configuration>